@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --main-color:#1FA67A;
    --dark-gray-color:#777;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
	padding: 0;
	border: 0;
}

ul,li{
  margin: 0;
  padding: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    color: #999;
}


.row{
    margin: 0;
    padding: 0;
}
